@media only screen and (min-width: 60em) {
    .md-header-nav__source {
      width: initial;
      max-width: initial;
    }

    .md-header-nav__free_account, .md-header-nav__login {
        display: block;
        padding-right: 1.2rem;
        padding-left: 1.2rem;
        margin-left: 1.8rem;
    }

    .btn {
        display: inline-block;
        margin-bottom: 0;
        font-weight: normal;
        text-align: center;
        vertical-align: middle;
        -ms-touch-action: manipulation;
        touch-action: manipulation;
        cursor: pointer;
        background-image: none;
        border: 1px solid transparent;
        white-space: nowrap;
        font-size: 14px;
        line-height: 1.42857143;
        border-radius: 4px;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none
    }
    
    .btn-warning {
        background-color: #fe723c;
    }

    .btn-primary {
        color: #fff;
        background-color: #337ab7;
        border-color: #fff
    }

    .btn-primary:focus,.btn-primary.focus {
        color: #fff;
        background-color: #286090;
        border-color: #122b40
    }

    .btn-primary:hover {
        color: #fff;
        background-color: #286090;
        border-color: #204d74
    }

    .btn-primary.btn-outline {
        color: #fff;
    }

    .btn-outline {
        background-color: transparent;
        color: inherit;
        transition: all .5s;
    }

    .btn-primary.btn-outline:hover{
        color: #fff;
    }

    .md-header-nav__free_account .md-source, .md-header-nav__login .md-source {
        padding-right: 1.2rem;
        padding-left: 1.2rem;
        text-transform: uppercase;
        font-size: 13px;
        font-weight: bold;
    }
}